<div>
    {{#each cost as | c index |}}
        <div class="form-group">
            <div class="form-fields">
                <label for="{{type}}">{{type}}: {{total}}</label>
                <input name="{{index}}.enabled" type="checkbox"{{#if enabled}} checked{{/if}}>
                {{#if scalable}}
                    <input type="range" value="{{scale}}" min="1" max="10" step="{{step}}" name="{{index}}.scale">
                {{/if}}
            </div>
        </div>
    {{/each}}
    <footer>
        <button data-action="sendHope">Accept</button>
    </footer>
</div>