<section
    class='tab {{tabs.effects.cssClass}} {{tabs.effects.id}}'
    data-tab='{{tabs.effects.id}}'
    data-group='{{tabs.effects.group}}'
>
    <fieldset>
        <legend>{{localize "Effects"}} <a><i class="fa-solid fa-plus icon-button" data-action="addEffect"></i></a></legend>
        
        <div class="effects-list">
            {{#each document.effects}}
                <li class='effect-item' data-effect-id='{{this.id}}'>
                    <div class='effect-line'>
                        <img class='image' src='{{this.img}}' />
                        <h4>{{this.name}}</h4>
                        <div class='controls'>
                            <a
                                class='effect-control'
                                data-action='editEffect'
                                data-effect='{{this.id}}'
                                data-tooltip='{{localize "DAGGERHEART.Tooltip.openItemWorld"}}'
                            >
                                <i class="fa-solid fa-globe"></i>
                            </a>
                            <a
                                class='effect-control'
                                data-action='deleteEffect'
                                data-effect='{{this.id}}'
                                data-uuid='{{this.uuid}}'
                                data-tooltip='{{localize "DAGGERHEART.Tooltip.delete"}}'
                            >
                                <i class='fas fa-trash'></i>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </div>
    </fieldset>
</section>