<section
    class='tab {{tabs.actions.cssClass}} {{tabs.actions.id}}'
    data-tab='{{tabs.actions.id}}'
    data-group='{{tabs.actions.group}}'
>
    <fieldset>
        <legend>{{localize "DAGGERHEART.Sheets.Feature.Tabs.Actions"}} <a><i class="fa-solid fa-plus icon-button" data-action="addAction"></i></a></legend>
        
    </fieldset>
</section>