<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="dice-formula">{{roll}}</div>
        <div class="dice-tooltip">
            <ol class="dice-rolls">
                {{#each dice}}
                    <li class="roll die {{type}}">{{value}}</li>
                {{/each}}
                {{#each modifiers}}
                    <li class="modifier-value">{{this}}</li>
                {{/each}}
            </ol>
        </div>
        <div class="dice-total">{{total}}</div>
        <div class="flexrow">
            <button class="healing-button" data-value="{{total}}" data-type="{{type}}"><span>{{localize "DAGGERHEART.Chat.HealingRoll.Heal"}}</span></button>  
        </div>
    </div>
</div>